# My First Project

* This is my first project. 
* I am learning to code python
* shift+enter to run a block of code
* use a hashtag to create a heading
* use an astrick to set bullet point

function (argument, arg2, arg3,...) some only require 1 argument, some require multple arguemnt

def = define. can be used to set new functions

In [25]:
def add_two_num(a,b):
    return a+b

In [26]:
add_two_num(2,2)

4

In [27]:
print(2,2,2)

2 2 2

# Data Types
* Numbers - numbers - int (whole number) or float (float has decimal point)
* Strings - text/alphanumeric
* Lists - store multiple items in same variable
* Tuples - like lists but you cant add, remove, modify items in list
* Dictionary - have keys to define what you want

# Numbers

In [20]:
num1 = 2
num2 = 3.698

In [21]:
print(num1 + num2)

5.698

In [22]:
type(num1)

int

In [23]:
type(num2)

float

In [24]:
type(num1 + num2)

float

# Strings

single or double quote both indicate string("" or '') but you need to make sure both sides are the same quote - double double or single single
if you dont use quotes it treats it as a value/variable but if you use quotes it treats it as a string (see line 37)
you cannot add strings and numbers together (see line 40)

##### Positions
python starts a 0
var[] position number goes in []. will throw error if position is invalid

use + to concatinate strings

In [28]:
print(num1)

2

In [29]:
num1 = "segoihweflks"

In [30]:
print(num1)

segoihweflks

In [31]:
type(num1)

str

In [34]:
first_name = "Billy"
last_name = 'Walowitz'

In [35]:
type(first_name)

str

In [36]:
type(last_name)

str

In [37]:
test = billy

NameError: name 'billy' is not defined

In [38]:
test = 'billy'

In [39]:
print(test)

billy

In [81]:
#trying to add string and int
num1 + num2

TypeError: can only concatenate str (not "float") to str

In [82]:
# $ is not a valid sign
salary = $60000

SyntaxError: invalid syntax (206509781.py, line 2)

In [43]:
salary ='$60000'

In [44]:
salary/12

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [45]:
print(first_name)

Billy

In [48]:
print(last_name)

Walowitz

In [50]:
full_name = first_name+" "+last_name

In [51]:
print(full_name)

Billy Walowitz

In [52]:
full_name[8]

'l'

In [53]:
print(salary)

$60000

In [70]:
salary_cleaned = salary[1:] # string to int

In [69]:
int(salary_cleaned)/12 #convert salary to int and divide by 12

5000.0

In [62]:
full_name

'Billy Walowitz'

In [67]:
full_name[0:4] # 0, 1, 2, 3
full_name[0:10] # 0, 1, 2, ..., 9

'Billy Walo'

In [68]:
full_name[:4] # start from 0 position

'Bill'

In [99]:
#uppcase function
full_name.upper()

'BILLY WALOWITZ'

In [100]:
#lowercase function
full_name.lower()

'billy walowitz'

# Lists
* print and type are two functions that we have used, but there are more
* append function can only be used with a variable

In [73]:
a = 5

In [75]:
age = [21, 22, 23, 24, 25]

In [76]:
type(age)

list

In [79]:
age[0:3] #0, 1, 2

[21, 22, 23]

In [83]:
#negative indexing 
age[-1]

25

In [86]:
#append function
age.append(26)

In [88]:
age #w/ 26 appended

[21, 22, 23, 24, 25, 26, 26]

In [92]:
#insert function
age.insert(0, 20)

In [93]:
age

[20, 123, 123, 21, 22, 23, 24, 25, 26, 26]

In [95]:
age.pop(1)

123

In [96]:
age

[20, 123, 21, 22, 23, 24, 25, 26, 26]

In [97]:
age.pop(1)

123

In [98]:
age.insert(0, 123)

In [101]:
age

[123, 20, 21, 22, 23, 24, 25, 26, 26]

In [103]:
#count function
age.count(25) # count the number of times the specified value appears in the list

1

# Tuples
* can contain items from different data types

In [104]:
age = (21,22, 23, 24, 25)

In [105]:
type(age)

tuple

In [106]:
age_tuple = (21, 22, 23, 24, 25)
age_list = [21, 22, 23, 24, 25]

In [109]:
age_list[0] = 21

In [108]:
age_tuple[0] = 20

TypeError: 'tuple' object does not support item assignment

In [111]:
age_list

[21, 22, 23, 24, 25]

In [116]:
#list in list
test = [1, 2, 3, 4, "Billy", "Walowitz", [8, 7, 6]]

In [113]:
type(test)

list

# Dictionary
assign name to position
if the key is gone, you lose access to the values

In [118]:
test = {'first_item' : 21}

In [120]:
test['first_item']

21

In [121]:
#undefined key example
test[0]

KeyError: 0

In [123]:
test = {'name' : ['Ravi', "John", 'Ryan', 'Tom', 'Natasha', 'Grace'],
        'cohort' : 'MSBA', 
       'avg_GMAT' : 680}

In [125]:
#list all keys in dict
test.keys()

dict_keys(['name', 'cohort', 'avg_GMAT'])

In [126]:
test['name']

['Ravi', 'John', 'Ryan', 'Tom', 'Natasha', 'Grace']

In [127]:
test['cohort']

'MSBA'

In [128]:
test['avg_GMAT']

680

In [129]:
type(test)

dict

In [132]:
#get function
test.get('name', None)

['Ravi', 'John', 'Ryan', 'Tom', 'Natasha', 'Grace']

In [136]:
#get keys from dictionary
test.keys()

dict_keys(['name', 'cohort', 'avg_GMAT'])

In [140]:
test.get('xby', 'Not Present')

'Not Present'

In [142]:
#length function
len(test)

3

In [144]:
len(full_name)

14

# if-else and for loops

In [161]:
age = 17

In [146]:
#Write a program to print if a member is eligible to drive - driving age is 17

In [150]:
#if condition:
#    things to do if the condition is true
#else:
#    things to do if the condition is false

In [163]:
if age >= 17:
    print('eligible to drive')
else:
    print('not eligible to drive')

eligible to drive

In [172]:
marks = 90

In [174]:
#Write a program to print the grade of the student - A > 90 else B

In [169]:
if marks > 90:
    print('Grade = A')
    print(marks)
else:
    print('Grade = B')
    print(marks)

Grade = B
88

In [176]:
#Write a program to print the grade of the student
# >90 A
#80-90 B
#<80 C

In [173]:
if marks >= 90:
    print('Grade - A')
    print(marks)
elif marks >= 80:
    print('Grade - B')
    print(marks)
else:
    print('Grade - c')
    print(marks)

Grade - A
90

In [182]:
#using loops for list of students grades

In [183]:
marks = [90, 88, 74, 96, 56]

In [184]:
#For loop
for x in marks:
    if x > 90:
        print('Grade - A')
    elif x > 80:
        print('Grade - B')
    else:
        print('Grade - C')

Grade - B
Grade - B
Grade - C
Grade - A
Grade - C